<html>
    <head>
        <base href="{{ app.request.getSchemeAndHttpHost() }}" />
        <style type="text/css"><!--
            body
            {
                font-family: Arial, sans-serif;
                font-size: 14px;
                color: #4c4c4c;
            }

            a, a:visited
            {
                color: #0072cf;
            }
            --></style>
    </head>
    <body bgcolor="#dddddd">
        <table width="100%" cellpadding="20" cellspacing="0" border="0" bgcolor="#dddddd">
            <tr>
                <td width="100%" align="center">
                    <table width="70%" cellpadding="0" cellspacing="0" bgcolor="white" style="background-color: white;">
                        <tr>
                            <td width="100%">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td style="padding: 10px 30px 0px;">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <td>
                                                        <table cellpadding="0" cellspacing="0" border="0">
                                                            <tr>
                                                                <td>
                                                                    <div style="font-size: 22px; padding-bottom: 4px;">{{ sistema }}</div>
                                                                    <div style="font-size: 18px; padding-bottom: 4px;">Cambio de contraseña</div>
                                                                    <div style="font-size: 13px;">{{ "now"|date("Y-m-d") }}</div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div style="font-size: 14px; margin: 12px 0px 24px 0px; padding-top: 10px;">
                                                            <p>Estimado {{ usuario.nombre }},</p>
                                                            <p>Hemos recibido tu solicitud de cambio de contraseña.</p>
                                                            <p>Para realizar el cambio haz clic en el enlace de abajo .</p>
                                                            <p><a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('mi-contrasena-cambiar', {'cadena': token}) }}">Modificar contraseña</a></p>
                                                            <p>Si no solicitaste un cambio de su contraseña, haz caso omiso de este mensaje.</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="border-top: 1px solid #aaaaaa;">&nbsp;</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 10px 30px;"> &copy; {{ organizacion }} {{ "now"|date("Y") }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="border-bottom: 1px solid #aaaaaa;">&nbsp;</div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>