{% extends '::base.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal' }}) }}
                <div class="form-group">
                    {{ form_label(form.nombre) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.nombre) }}
                        {{ form_errors(form.nombre) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                {% if mensaje is defined %}
                <div class="form-group">
                    <div class="panel-body">
                        <div class="alert alert-success">
                            <i class="fa fa-check-circle">
                            </i>
                            <strong>
                                ¡Operación exitosa!
                            </strong>
                            {{ mensaje }}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="hidden" name="_method" value="PUT" />
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.save, { 'label': 'Enviar' }) }}
                        {{ form_widget(form.back, { 'label': 'Regresar', attr: {'data-url': path('portada')}}) }}
                    </div>
                </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
