{% extends '::base.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal' }}) }}
{% for passwordField in form.password %}
                <div class="form-group">
                    {{ form_label(passwordField) }}
                    <div class="col-sm-9">
                        {{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }}
                        <span class="help-block" for="{{ form.password.vars.id }}">{% for error in form.password.vars.errors  %}{{ error.message }} <br />{% endfor %}</span>
                    </div>
                </div>
{% endfor %}
                <span class="help-block" for="{{ form.password.first.vars.id }}">{% for error in form.password.first.vars.errors  %}  {{ error.message }} <br />{% endfor %}</span>
                <span class="help-block" for="{{ form.password.second.vars.id }}">{% for error in form.password.second.vars.errors  %}{{ error.message }} <br />{% endfor %}</span>
{% if mensaje is defined %}
                <div class="form-group">
                    <div class="panel-body">
                        <div class="alert alert-success">
                            <i class="fa fa-check-circle">
                            </i>
                            <strong>
                                ¡Operación exitosa!
                            </strong>
                            {{ mensaje }}
                        </div>
                    </div>
                </div>
{% endif %}
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="hidden" name="_method" value="PUT" />
                        <input type='hidden' id="form-name" value="{{ form.vars.name }}" />
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.save, { 'label': 'Enviar' }) }}
                        {{ form_widget(form.back, { 'label': 'Regresar', attr: {'data-url': path('portada')}}) }}
                    </div>
                </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
