        <!-- start: MAIN JAVASCRIPTS -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/plugins/respond.min.js"></script>
        <script type="text/javascript" src="assets/plugins/excanvas.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
        <script type="text/javascript" src="assets/js/jquery.min.js"></script>
        <!--<![endif]-->
        <script type="text/javascript" src="assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="assets/plugins/blockUI/jquery.blockUI.js"></script>
        <script type="text/javascript" src="assets/plugins/iCheck/jquery.icheck.min.js"></script>
        <script type="text/javascript" src="assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
        <script type="text/javascript" src="assets/plugins/less/less-1.5.0.min.js"></script>
        <script type="text/javascript" src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
        <script type="text/javascript" src="assets/js/form-elements.js"></script>
        <!-- end: MAIN JAVASCRIPTS -->
        <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
        <script type="text/javascript" src="assets/js/main.js"></script>
        <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
        <script type="text/javascript">
            jQuery(document).ready(function () {
                Main.init();
            });
        </script>