        <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assets/plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="assets/fonts/style.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main-responsive.css">
        <link rel="stylesheet" type="text/css" href="assets/plugins/iCheck/skins/all.css">
        <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
        <link rel="stylesheet" type="text/css" href="assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
        <link rel="stylesheet" type="text/css" href="assets/css/theme_light.css" id="skin_color">
        <link rel="stylesheet" type="text/css" href="assets/css/print.css" media="print"/>