{% extends '::base.html.twig' %}

{% block content %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form_start(edit_form, {'method': 'POST', 'attr': {'class': 'form-horizontal' }}) }}
                                <div class="form-group">
                                    {{ form_label(edit_form.usuario) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(edit_form.usuario, {'attr': {'readonly': 'readonly' }}) }}
                                        {{ form_errors(edit_form.usuario) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.nombre) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(edit_form.nombre) }}
                                        {{ form_errors(edit_form.nombre) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.email) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(edit_form.email) }}
                                        {{ form_errors(edit_form.email) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(edit_form.estatus) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(edit_form.estatus) }}
                                        {{ form_errors(edit_form.estatus) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="hidden" name="_method" value="PUT" />
                                        {{ form_widget(edit_form._token) }}
                                        {{ form_widget(edit_form.save, { 'label': 'Enviar' }) }}
                                        {{ form_widget(edit_form.back, { 'label': 'Regresar', attr: {'data-url': path('usuario')}}) }}
                                    </div>
                                </div>
                            {{ form_end(edit_form, {'render_rest': false}) }}
                        </div>
                    </div>
{% endblock %}