{% extends '::base.html.twig' %}
{% block content -%}

    <div class="col-md-12">
        <p>
            <a class="btn btn-danger btn-sm" href="{{ path('usuario_new') }}"><i class="fa fa-plus"></i> Nuevo {{ entidad  }}</a>
        </p>
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="sample-table-1" class="table table-hover">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Nombre</th>
                            <th class="hidden-xs">Correo electrónico</th>
                            <th class="hidden-xs">Estatus</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
{% for entity in entities %}
                        <tr>
                            <td class="center"><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td class="hidden-xs">{{ entity.nombre }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.estatus }}</td>
                            <td class="center">
                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                    <a class="btn btn-xs btn-teal tooltips" data-original-title="Editar" data-placement="top" href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                    <div class="btn-group">
                                        <a class="btn btn-primary dropdown-toggle btn-sm" href="#" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li role="presentation">
                                                <a href="{{ path('usuario_edit', { 'id': entity.id }) }}" tabindex="-1" role="menuitem">
                                                    <i class="fa fa-edit"></i>
                                                    Editar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
