{% extends '::base.html.twig' %}

{% block content %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal' }}) }}
                                <div class="form-group">
                                    {{ form_label(form.usuario) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.usuario) }}
                                        {{ form_errors(form.usuario) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.password) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.password) }}
                                        {{ form_errors(form.password) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.nombre) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.nombre) }}
                                        {{ form_errors(form.nombre) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.estatus) }}
                                    <div class="col-sm-9">
                                        {{ form_widget(form.estatus) }}
                                        {{ form_errors(form.estatus) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        {{ form_widget(form._token) }}
                                        {{ form_widget(form.save, { 'label': 'Enviar' }) }}
                                        {{ form_widget(form.back, { 'label': 'Regresar', attr: {'data-url': path('usuario')}}) }}
                                    </div>
                                </div>
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                    </div>
{% endblock %}