{% extends '::base.html.twig' %}

{% block content -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Id </label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{{ entity.id }}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Usuario </label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{{ entity.usuario }}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Nombre </label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{{ entity.nombre }}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Correo electrónico </label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{{ entity.email }}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Estatus </label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" value="{{ entity.estatus }}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-default goto" data-url="{{ path('usuario_edit', { 'id': entity.id }) }}">Editar</button>
                        <button type="button" class="btn btn-default goto" data-url="{{ path('usuario') }}">Regresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}